@import '../../styles';

.contact-list-container {
  margin-top: 10px;

  md-card {
    margin: 5px;
    width: 300px;
  }

  md-card-subtitle {
    color: black;
  }
}

.contact-card {
  background-color: mat-color($mat-green, 300);
  color: mat-color($mat-grey, 700);
  transition: all 0.3s;
  &:hover {
    box-shadow: -1px 5px 25px -5px rgba(0,0,0,0.8);
    transform: translate3d(0, -2px, 0);
  }
}

.contact-form-container {
  margin-top: 10px;

  md-card {
    background-color: white;
  }

  .contact-input {
    margin-left: 10px;
  }

  .email-input {
    width: 200px;
  }
}

.fill-remaining {
  flex: 1 1 auto;
}

.contact-card-action {
  text-align: center;
}
