<div fxLayout="column" fxLayoutAlign="center" class="contact-list-container">

  <md-toolbar color="primary">Contact List</md-toolbar>

  <md-card *ngFor="let contact of contacts" class="contact-card">
    <md-card-subtitle><md-icon fontSet="fontawesome" fontIcon="fa-envelope"></md-icon> {{contact.email}}</md-card-subtitle>
    <md-card-title>{{contact.first_name}}  {{contact.last_name}}</md-card-title>
    <md-card-content>
      <p><md-icon fontSet="fontawesome" fontIcon="fa-phone"></md-icon> {{contact.telephone}}</p>
      <p>Contact ID: {{contact.id}}</p>
    </md-card-content>
  </md-card>

</div>
